{% extends 'base.html' %}

{% block content %}
   <main>
      <div>
        <h1>Create a new task</h1>
        <form method="post">
          {% csrf_token %}
          <label for="name">Name:</label>
          <input type="text" id="name" name="name"><br>
          <label for="start_date">Start date:</label>
          <input type="text" id="start_date" name="start_date"><br>
          <label for="due_date">Due Date:</label>
          <input type="text" id="due_date" name="due_date"><br>
          <label for="project">Project:</label>
          <select name="project" id="project">
            <option value="option1">option1</option>
            <option value="option2">option2</option>
          </select><br>
          <label for="assignee">Assignee:</label>
          <select name="assignee" id="assignee">
            <option value="option1">option1</option>
            <option value="option2">option2</option>
          </select><br>





          <button type="submit">Create</button>
        </form>
      </div>
    </main>
  {%endblock content%}