{% extends base.html %}

{% block content %}
    <main>
    <h2>Create a new project</h2>
    <div>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create project</button>
    </form>
  </div>
  </main>
  {% endblock content %}
